.hero-section{
 background: url(/assets/images/background.png) no-repeat;
 background-size: cover;   
}
li{
    list-style: none;
}
.valid_input{
    border-color:green; 
}
.invalid_input{
    border-color:red; 
}