<nav class="navbar navbar-light" style="background-color: white">
  <a class="navbar-brand" href="#">
    <img src="assets/images/header.svg" height="50" alt="">
  </a>
</nav>

<section class="hero-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h1>Access The Test</h1>
        <h1>Results of
          <strong>OpenEBS E2E</strong>
        </h1>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="assets/images/litimus.svg" alt="">
      </div>
    </div>
  </div>
</section>

<div class="container my-1">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end my-2">
      <button type="button" class="btn btn-lg btn-outline-secondary mr-3">CI Dashboard</button>
      <button type="button" class="btn btn-lg" style="background-color:#ee5a2b;color:white">Stateful Workload</button>
    </div>
    <div class="col-md-12 my-2">
      <div class="text-right">
        Status: <div style="display:inline-block; background-color: green;border-radius: 50%;height: 10px;width: 10px;"></div> Running
      </div>
    </div>
  </div>
</div>


<div>
  <div class="container" style="background-color: #ee5a2b;color: white">
    <div class="row">
      <div class="col-md-12">
        <h3 class="my-3">OpenEBS with MongoDB</h3>
      </div>
    </div>
  </div>

  <div class="container" style="background-color: white">
    <div class="row">
      <div class="col-md-12 py-4">
        <h5>Description</h5>
        <li>StatefulSet : Mongo</li>
        <li>OpenEBS Version : 0.6</li>
        <li>jiva version : 0.6</li>
        <ul *ngFor="let jivadetails of jivas">
          <li>Name:  {{jivadetails.metadata.name}} </li>
          <li>Controller Status: {{jivadetails.metadata.annotations['openebs.io/jiva-controller-status']}}</li>
          <li>Replica Count:  {{jivadetails.metadata.annotations['openebs.io/jiva-replica-count']}} </li>
          <li>Replica Status:  {{jivadetails.metadata.annotations['openebs.io/jiva-replica-status']}} </li>
          <li>Capacity:  {{jivadetails.metadata.annotations['openebs.io/capacity']}} </li>
        </ul>
      </div>
      <hr style="width: 95%;text-align: center" class="my-0">
      <div class="col-md-12 py-4">
        <h5>Configuration:</h5>
        <li>Namespace yaml
          <a href=""></a>
        </li>
        <li>Storage class yaml
          <a href=""></a>
        </li>
        <li>mongo stateful yaml
          <a href=""></a>
        </li>
        <li>nodejs(backend) deployment yaml
          <a href=""></a>
        </li>
        <li>Angular(client) deployment yaml
          <a href=""></a>
        </li>
        <li>Ingress yaml</li>
        <a href=""></a>
      </div>
      <hr style="width: 95%;text-align: center" class="my-0">
      <div class="col-md-12 py-4">
        <h5>User Actions: </h5>
        <li class="py-2">Save name <app-save></app-save> </li>
        <li class="py-2">Delete <app-delete></app-delete> </li>
        <li class="py-2">Read :</li> <app-read></app-read> 
      </div>
      <div>display result</div>
      <hr style="width: 95%;text-align: center" class="my-0">
      <div class="col-md-12 py-4">
        <h5>Take Snapshot</h5>
      </div>
    </div>
  </div>
</div>