
<div class="d-flex justify-content-between">
  <form novalidate [formGroup]="leadForm" (ngSubmit)="formSubmit()">
    <div class="form-inline">
      <div class="form-group flex-column justify-content-start">
        <input type="text" class="form-control mr-md-2" [ngClass]="{
        'valid_input':name.valid && (name.touched || name.dirty),
        'invalid_input':name.invalid && (name.touched || name.dirty || isFormEmpty)
        }" placeholder="Name" id="name" formControlName="name" required>
      </div>
      <div class="form-group flex-column justify-content-start">
        <input type="text" class="form-control mr-md-2" [ngClass]="{
        'valid_input':email.valid && (email.touched || email.dirty),
        'invalid_input':email.invalid && (name.touched || email.dirty || isFormEmpty)
        }" placeholder="email" id="email" formControlName="email" required>
      </div>
 
      <div class="form-group flex-column justify-content-start">
        <input type="number" class="form-control mr-md-2" [ngClass]="{
        'valid_input':age.valid && (age.touched || age.dirty),
        'invalid_input':age.invalid && (age.touched || age.dirty || isFormEmpty)
        }" placeholder="age" id="age" formControlName="age" required>
      </div>
      <!-- <div class="form-group">
        <input type="text" class="form-control mr-md-2" placeholder="Company Name" formControlName="companyname" id="company">
      </div> -->
      <button type="submit" class="btn ">save</button>
    </div>
  </form>
  <button type="button" class="btn btn-success ">Success</button>
</div>