<div class="bg-strip configuration-header">
  <div class="container">
    <div claas="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between">
          <div> DataBase Operation write 100 data </div> <button class="btn btn-secondary float-right">Execute <img src="assets/images/down-left.png"
              alt="" height="20px"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-strip configuration-header">
  <div class="container">
    <div claas="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between">
          <div>DataBase Operation read 100 data </div><button class="btn btn-secondary float-right">Execute <img src="assets/images/down-left.png"
              alt="" height="20px"></button>
        </div>
      </div>
    </div>
  </div>
</div>